#footer {
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    min-height: 8vh;
    padding: 0.66vw 1vw;
}

.contact_footer_login_page {
    margin: 0vw 2vw;
}

footer > p {
    font-size: 18px;
    font-weight: 500;
    margin-left: 3vw;
}

.fa-brands {
    font-size: 2vw;
    margin: 0vw 0.5vw;
}
